{{ define "main" }}
<div class="blog">

  <!-- Insert Blog Header -->
  {{ partial "header/blog-header.html" . }}

  <main class="main-wrapper">
    <section class="post">
      <div class="container">
        <div class="row">
          <div class="col-lg-7 col-sm-7  post__item">
            {{ range first 1 (where (where $.Site.Pages.ByPublishDate.Reverse "Section" "blog") ".Params.category" "!=" "Product Updates") }}
            <a href="{{ if .Params.url }}{{ .Params.url }}{{ else }}{{ .Permalink }}{{ end }}"><img class="image img-fluid" src="/img/blog/{{ if .Param "featured-image" }}{{ if .Param "thumbnail-image" }}small-version/{{ .Param "featured-image" }}{{ else }}small-version/default.svg{{ end }}{{ else }}small-version/default.svg{{ end }}" alt="blog image"></a>
            {{- with .Params.category }}
            {{- with $.Site.GetPage "taxonomyTerm" (printf "category/%s" (urlize .)) }}
            <a href="{{ .Permalink }}" class="title-category">{{ .Params.name }}</a>
            {{ end }}
            {{ end }}
            <a href="{{ if .Params.url }}{{ .Params.url }}{{ else }}{{ .Permalink }}{{ end }}" class="title-h2">{{ .Title }}</a>
            <div class="author">
              {{- with .Params.author }}
              {{- with $.Site.GetPage "taxonomyTerm" (printf "author/%s" (urlize .)) }}
              <img class="author__photo img-fluid" src="{{ .Params.photo }}" alt="author">
              {{ end }}
              {{ end }}
              <div>
                <div class="author__name">{{ .Params.author }}</div>
                <div class="author__time">{{ .ReadingTime }} min read</div>
              </div>
            </div>

            {{ end }}
          </div>
          <div class="col-lg-5 col-sm-5 d-flex flex-column  post__item --reverse">
            {{ range first 1 (after 1 (where (where $.Site.Pages.ByPublishDate.Reverse "Section" "blog") ".Params.category" "!=" "Product Updates")) }}
            {{- with .Params.category }}
            {{- with $.Site.GetPage "taxonomyTerm" (printf "category/%s" (urlize .)) }}
            <a href="{{ .Permalink }}" class="title-category">{{ .Params.name }}</a>
            {{ end }}
            {{ end }}
            <a href="{{ if .Params.url }}{{ .Params.url }}{{ else }}{{ .Permalink }}{{ end }}" class="title-h2">{{ .Title }}</a>

            <div class="author">
              {{- with .Params.author }}
              {{- with $.Site.GetPage "taxonomyTerm" (printf "author/%s" (urlize .)) }}
              <img class="author__photo img-fluid" src="{{ .Params.photo }}" alt="author">
              {{ end }}
              {{ end }}
              <div>
                <div class="author__name">{{ .Params.author }}</div>
                <div class="author__time">{{ .ReadingTime }} min read</div>
              </div>
            </div>
            <a href="{{ if .Params.url }}{{ .Params.url }}{{ else }}{{ .Permalink }}{{ end }}"><img class="image img-fluid" src="/img/blog/{{ if .Param "featured-image" }}{{ if .Param "thumbnail-image" }}small-version/{{ .Param "featured-image" }}{{ else }}small-version/default.svg{{ end }}{{ else }}small-version/default.svg{{ end }}" alt="blog image"></a>
            {{ end }}
          </div>
        </div>
      </div>
    </section>
    <section class="multiple-slider">
      <div class="container">
        <h2 class="title-h2 --popular">
          more recently published
          <div class="swiper-button-next swiper-btn-m-one-next">
            <svg height="10" viewBox="0 0 19 10" width="19" xmlns="http://www.w3.org/2000/svg">
              <path d="m13.3735714.42624339c-.1838571-.18793651-.4898571-.18793651-.6801428 0-.1838572.1815873-.1838572.48380952 0 .66497354l3.4487143 3.40613757h-15.66600004c-.26528572.00042328-.47614286.20867725-.47614286.47068783s.21085714.47703704.47614286.47703704h15.66600004l-3.4487143 3.39978835c-.1838572.18793651-.1838572.49058202 0 .67174604.1902857.1879365.4967143.1879365.6801428 0l4.2651429-4.21248678c.1902857-.1815873.1902857-.48380952 0-.66497354z"
                fill-rule="evenodd" stroke-width=".4" transform="matrix(-1 0 0 1 18 0)" /></svg>
          </div>
          <div class="swiper-button-prev swiper-btn-m-one-prev">
            <svg height="10" viewBox="0 0 19 10" width="19" xmlns="http://www.w3.org/2000/svg">
              <path d="m13.3735714.42624339c-.1838571-.18793651-.4898571-.18793651-.6801428 0-.1838572.1815873-.1838572.48380952 0 .66497354l3.4487143 3.40613757h-15.66600004c-.26528572.00042328-.47614286.20867725-.47614286.47068783s.21085714.47703704.47614286.47703704h15.66600004l-3.4487143 3.39978835c-.1838572.18793651-.1838572.49058202 0 .67174604.1902857.1879365.4967143.1879365.6801428 0l4.2651429-4.21248678c.1902857-.1815873.1902857-.48380952 0-.66497354z"
                fill-rule="evenodd" stroke-width=".4" transform="matrix(-1 0 0 1 18 0)" /></svg>
          </div>
        </h2>
        <div class="multiple-slider__swiper swiper-multiple-one">
          <div class="swiper-wrapper">
            <!-- @Yuriigr Add filter conditions here
            - Range through blogs here, with same filters as above, starting with the third most recent
            -->
            {{ range first 5 (after 2 (where (where $.Site.Pages.ByPublishDate.Reverse "Section" "blog") ".Params.category" "!=" "Product Updates")) }}
            <div class="swiper-slide">
              <a href="{{ if .Params.url }}{{ .Params.url }}{{ else }}{{ .Permalink }}{{ end }}"><img class="img-fluid" src="/img/blog/{{ if .Param "featured-image" }}{{ if .Param "thumbnail-image" }}small-version/{{ .Param "featured-image" }}{{ else }}small-version/default.svg{{ end }}{{ else }}small-version/default.svg{{ end }}" alt="post image"></a>
              {{- with .Params.category }}
              {{- with $.Site.GetPage "taxonomyTerm" (printf "category/%s" (urlize .)) }}
              <a href="{{ .Permalink }}" class="title-category">{{ .Params.name }}</a>
              {{ end }}
              {{ end }}
              <a href="{{ if .Params.url }}{{ .Params.url }}{{ else }}{{ .Permalink }}{{ end }}" class="title-h3">{{ .Title }}</a>
              <div class="name">{{ if .Params.author }}{{ .Params.author }}&nbsp;|&nbsp;{{ else }}{{ end }}{{ .ReadingTime }} min read</div>
            </div>
            {{ end }}
          </div>
        </div>
      </div>
    </section>
    <section class="single-slider --bg-blue">
      <div class="container">
        <div class="single-slider__swiper swiper-single-one">
          <div class="swiper-wrapper">
            <!-- @Yuriigr Add filter conditions here
            - Range through 3 blogs here, with same filters as above
            - Add additional filter that .Params.category "Cloud Cost Management" is set
            - Add additional filter that .Params.popular is set to true
            -->
            <div class="swiper-slide">
              <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                  <a href="#"><img class="image img-fluid" src="/assets/img2.jpg" alt="image of blog"></a>
                </div>
                <div class="slider-content col-lg-5 col-md-5 col-sm-5 offset-lg-1 offset-md-1 offset-sm-1 d-flex flex-column justify-content-center">
                  <a href="#" class="title-category --light">DEV’OPS</a>
                  <a href="#" class="title-h1 --light">EC2 Instance Types — 6 Things You Need To Know
                    Before Selecting</a>
                  <div class="author --light">
                    <img class="author__photo img-fluid" src="/assets/author.png" alt="author">
                    <div>
                      <div class="author__name">
                        Mike Mackrory
                      </div>
                      <div class="author__time">
                        5 min read
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                  <a href="#"><img class="img-fluid image" src="/assets/img2.jpg" alt="image of blog"></a>
                </div>
                <div class="slider-content col-lg-5 col-md-5 col-sm-5 offset-lg-1 offset-md-1  offset-sm-1 d-flex flex-column justify-content-center">
                  <a href="#" class="title-category --light">DEV’OPS</a>
                  <a href="#" class="title-h1 --light">EC2 Instance Types </a>
                  <div class="author --light">
                    <img class="author__photo img-fluid" src="/assets/author.png" alt="author">
                    <div>
                      <div class="author__name">
                        Mike Mackrory
                      </div>
                      <div class="author__time">
                        5 min read
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-button-next swiper-btn-s-one-next">
            <svg height="10" viewBox="0 0 19 10" width="19" xmlns="http://www.w3.org/2000/svg">
              <path d="m13.3735714.42624339c-.1838571-.18793651-.4898571-.18793651-.6801428 0-.1838572.1815873-.1838572.48380952 0 .66497354l3.4487143 3.40613757h-15.66600004c-.26528572.00042328-.47614286.20867725-.47614286.47068783s.21085714.47703704.47614286.47703704h15.66600004l-3.4487143 3.39978835c-.1838572.18793651-.1838572.49058202 0 .67174604.1902857.1879365.4967143.1879365.6801428 0l4.2651429-4.21248678c.1902857-.1815873.1902857-.48380952 0-.66497354z"
                fill-rule="evenodd" stroke-width=".4" transform="matrix(-1 0 0 1 18 0)" /></svg>
          </div>
          <div class="swiper-button-prev swiper-btn-s-one-prev">
            <svg height="10" viewBox="0 0 19 10" width="19" xmlns="http://www.w3.org/2000/svg">
              <path d="m13.3735714.42624339c-.1838571-.18793651-.4898571-.18793651-.6801428 0-.1838572.1815873-.1838572.48380952 0 .66497354l3.4487143 3.40613757h-15.66600004c-.26528572.00042328-.47614286.20867725-.47614286.47068783s.21085714.47703704.47614286.47703704h15.66600004l-3.4487143 3.39978835c-.1838572.18793651-.1838572.49058202 0 .67174604.1902857.1879365.4967143.1879365.6801428 0l4.2651429-4.21248678c.1902857-.1815873.1902857-.48380952 0-.66497354z"
                fill-rule="evenodd" stroke-width=".4" transform="matrix(-1 0 0 1 18 0)" /></svg>
          </div>
        </div>
      </div>
    </section>

    <!-- POPULAR PERFORMANCE MONITORING POSTS -->
    <section class="post">
      <div class="container">
        <h2 class="title-h2 --popular text-green text-center mb-sm">performance monitoring</h2>
        <div class="row">
          <div class="col-lg-7 col-sm-7  post__item">
            <!-- @Yuriigr Range through 1 post here
            - Choose from most recent in the range
            - Add additional filter that .Params.category "Performance Monitoring" is set
            - Add additional filter that .Params.popular is set to true
            -->
            <img class="image img-fluid" src="/assets/img1.jpg" alt="blog image">
            <h2 class="title-category">PRODUCT UPDATE</h2>
            <h3 class="title-h2">Integration Update:<br>
              AWS Route 53 Metrics & Policies</h3>
            <div class="author">
              <img class="author__photo img-fluid" src="/assets/author.png" alt="author">
              <div>
                <div class="author__name">
                  Mike Mackrory
                </div>
                <div class="author__time">
                  5 min read
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-5 col-sm-5 d-flex flex-column  post__item --reverse">
            <!-- @Yuriigr Range through 1 post
            - Choose second post from category that meets conditions
            - Add additional filter that .Params.category "Performance Monitoring" is set
            - Add additional filter that .Params.popular is set to true
            -->
            <h2 class="title-category">CLOUD COST MANAGEMENT</h2>
            <h3 class="title-h2">AWS Cost Analysis: <br>
              Exploring Your Cost Deltas</h3>
            <div class="author">
              <img class="author__photo img-fluid" src="/assets/author.png" alt="author">
              <div>
                <div class="author__name">
                  Mike Mackrory
                </div>
                <div class="author__time">
                  5 min read
                </div>
              </div>
            </div>
            <img class="image img-fluid" src="/assets/img2.jpg" alt="blog image">
          </div>
        </div>
      </div>
    </section>

    <section class="single-slider --bg-green --reverse" style="margin-bottom: 0px;">
      <div class="container">
        <h2 class="title-h2 --popular text-white">All about devops</h2>
        <div class="single-slider__swiper swiper-single-two">
          <div class="swiper-wrapper">
            <!-- @Yuriigr Add filter conditions here
            - Range through 3 posts here
            - Add additional filter that .Params.category "DevOps" is set
            - Add additional filter that .Params.popular is set to true
            -->
            <div class="swiper-slide">
              <div class="row flex-row-reverse">
                <div class="col-lg-6 col-md-6 col-sm-6">
                  <img class="image img-fluid" src="/assets/img2.jpg" alt="image of blog">
                </div>
                <div class="slider-content col-lg-6 col-md-6 col-sm-6 d-flex flex-column justify-content-center">
                  <h2 class="title-category --light">DEV’OPS</h2>
                  <h3 class="title-h1 --light">EC2 Instance Types — 6 Things You Need To Know
                    Before Selecting</h3>
                  <div class="author --light">
                    <img class="author__photo img-fluid" src="/assets/author.png" alt="author">
                    <div>
                      <div class="author__name">
                        Mike Mackrory
                      </div>
                      <div class="author__time">
                        5 min read
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="row flex-row-reverse">
                <div class="col-lg-6 col-md-6 col-sm-6">
                  <img class="img-fluid image" src="/assets/img2.jpg" alt="image of blog">
                </div>
                <div class="slider-content col-lg-6 col-md-6 col-sm-6 d-flex flex-column justify-content-center">
                  <h2 class="title-category --light">DEV’OPS</h2>
                  <h3 class="title-h1 --light">EC2 Instance Types </h3>
                  <div class="author --light">
                    <img class="author__photo img-fluid" src="/assets/author.png" alt="author">
                    <div>
                      <div class="author__name">
                        Mike Mackrory
                      </div>
                      <div class="author__time">
                        5 min read
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-button-next swiper-btn-s-two-next">
            <svg height="10" viewBox="0 0 19 10" width="19" xmlns="http://www.w3.org/2000/svg">
              <path d="m13.3735714.42624339c-.1838571-.18793651-.4898571-.18793651-.6801428 0-.1838572.1815873-.1838572.48380952 0 .66497354l3.4487143 3.40613757h-15.66600004c-.26528572.00042328-.47614286.20867725-.47614286.47068783s.21085714.47703704.47614286.47703704h15.66600004l-3.4487143 3.39978835c-.1838572.18793651-.1838572.49058202 0 .67174604.1902857.1879365.4967143.1879365.6801428 0l4.2651429-4.21248678c.1902857-.1815873.1902857-.48380952 0-.66497354z"
                fill-rule="evenodd" stroke-width=".4" transform="matrix(-1 0 0 1 18 0)" /></svg>
          </div>
          <div class="swiper-button-prev swiper-btn-s-two-prev">
            <svg height="10" viewBox="0 0 19 10" width="19" xmlns="http://www.w3.org/2000/svg">
              <path d="m13.3735714.42624339c-.1838571-.18793651-.4898571-.18793651-.6801428 0-.1838572.1815873-.1838572.48380952 0 .66497354l3.4487143 3.40613757h-15.66600004c-.26528572.00042328-.47614286.20867725-.47614286.47068783s.21085714.47703704.47614286.47703704h15.66600004l-3.4487143 3.39978835c-.1838572.18793651-.1838572.49058202 0 .67174604.1902857.1879365.4967143.1879365.6801428 0l4.2651429-4.21248678c.1902857-.1815873.1902857-.48380952 0-.66497354z"
                fill-rule="evenodd" stroke-width=".4" transform="matrix(-1 0 0 1 18 0)" /></svg>
          </div>
        </div>
      </div>
    </section>
  </main>
</div>
{{ end }}
