{{ define "main" }}
  <div class="blog blog--category">
{{ partial "header/blog-header.html" . }}
<style>
  span.logo-title {
    display: none;
}
</style>
      <main class="main-wrapper">
          <div class="container">
              <div class="return">
                  <a href="/blog/"><i class="far fa-angle-left mr-2"></i>Blog</a>
              </div>
          </div>
          <section class="category-list">
              <div class="container">
                  <h2 class="category-list__title">{{ .Params.name }}</h2>
                  <ul class="row">
                    {{ $categoryName := .Params.name }}
                    {{ range where $.Site.Pages "Section" "blog" }}
                    {{ if in .Params.category $categoryName }}
                      <li class="col-xl-4 col-md-4 col-sm-6">
                          <a href="{{ .Params.url }}">
                            <!--<img class="img-fluid" src="/img/blog/small-version/{{ .Param "featured-image" }}" alt="post image">-->
                            <div class="thumbnail-image shadow-sm" style="background: url(/img/blog/{{ if .Param "featured-image" }}{{ if .Param "thumbnail-image" }}small-version/{{ .Param "featured-image" }}{{ else }}{{ .Param "featured-image" }}{{ end }}{{ else }}small-version/default.svg{{ end }});"></div>
                          </a>
                          <a href="{{ .Params.url }}" class="title-h3">{{ .Title }}</a>
                          <div class="name">{{ if .Params.author }}{{ .Params.author }}&nbsp;|&nbsp;{{ end }}{{ .ReadingTime }} min read</div>
                      </li>
                      {{ end }}
                      {{ end }}
                  </ul>
              </div>
          </section>
          <section class="single-slider --bg-green">
              <div class="container">
                  <h3 class="title-h1 text-white">Recommended Blogs</h3>
                  <div class="single-slider__swiper swiper-single-one">
                      <div class="swiper-wrapper">
                          <div class="swiper-slide">
                              <div class="row">
                                  <div class="col-lg-6 col-md-6 col-sm-6">
                                      <a href="#"><img class="image img-fluid" src="/assets/img2.jpg" alt="image of blog"></a>
                                  </div>
                                  <div class="slider-content col-lg-5 col-md-5 col-sm-5 offset-lg-1 offset-md-1 offset-sm-1 d-flex flex-column justify-content-center">
                                      <a href="#" class="title-category --light">DEV’OPS</a>
                                      <a href="#" class="title-h1 --light">EC2 Instance Types — 6 Things You Need To
                                          Know
                                          Before Selecting</a>
                                      <div class="author --light">
                                          <img class="author__photo img-fluid" src="/assets/author.png" alt="author">
                                          <div>
                                              <div class="author__name">
                                                  Mike Mackrory
                                              </div>
                                              <div class="author__time">
                                                  5 min read
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="swiper-slide">
                              <div class="row">
                                  <div class="col-lg-6 col-md-6 col-sm-6">
                                      <a href="#"><img class="img-fluid image" src="/assets/img2.jpg" alt="image of blog"></a>
                                  </div>
                                  <div class="slider-content col-lg-5 col-md-5 col-sm-5 offset-lg-1 offset-md-1  offset-sm-1 d-flex flex-column justify-content-center">
                                      <a href="#" class="title-category --light">DEV’OPS</a>
                                      <a href="#" class="title-h1 --light">EC2 Instance Types </a>
                                      <div class="author --light">
                                          <img class="author__photo img-fluid" src="/assets/author.png" alt="author">
                                          <div>
                                              <div class="author__name">
                                                  Mike Mackrory
                                              </div>
                                              <div class="author__time">
                                                  5 min read
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="swiper-button-next swiper-btn-s-one-next">
                          <svg height="10" viewBox="0 0 19 10" width="19" xmlns="http://www.w3.org/2000/svg">
                              <path d="m13.3735714.42624339c-.1838571-.18793651-.4898571-.18793651-.6801428 0-.1838572.1815873-.1838572.48380952 0 .66497354l3.4487143 3.40613757h-15.66600004c-.26528572.00042328-.47614286.20867725-.47614286.47068783s.21085714.47703704.47614286.47703704h15.66600004l-3.4487143 3.39978835c-.1838572.18793651-.1838572.49058202 0 .67174604.1902857.1879365.4967143.1879365.6801428 0l4.2651429-4.21248678c.1902857-.1815873.1902857-.48380952 0-.66497354z"
                                  fill-rule="evenodd" stroke-width=".4" transform="matrix(-1 0 0 1 18 0)" /></svg>
                      </div>
                      <div class="swiper-button-prev swiper-btn-s-one-prev">
                          <svg height="10" viewBox="0 0 19 10" width="19" xmlns="http://www.w3.org/2000/svg">
                              <path d="m13.3735714.42624339c-.1838571-.18793651-.4898571-.18793651-.6801428 0-.1838572.1815873-.1838572.48380952 0 .66497354l3.4487143 3.40613757h-15.66600004c-.26528572.00042328-.47614286.20867725-.47614286.47068783s.21085714.47703704.47614286.47703704h15.66600004l-3.4487143 3.39978835c-.1838572.18793651-.1838572.49058202 0 .67174604.1902857.1879365.4967143.1879365.6801428 0l4.2651429-4.21248678c.1902857-.1815873.1902857-.48380952 0-.66497354z"
                                  fill-rule="evenodd" stroke-width=".4" transform="matrix(-1 0 0 1 18 0)" /></svg>
                      </div>
                  </div>
              </div>
          </section>
      </main>
  </div>
{{ end }}
