.guide{
    color:#434A54
}
.guide-section{
    background-color:#353F71;
    padding:220px 0 200px;
    position:relative
}

.text > a {
    font-weight: 600;
    border-bottom: 2px solid;
}

.text > a:hover {
    color: #439BC3;
    transition: 0.5s;
}

@media (max-width: 1079px){
    .guide-section{
        padding:185px 0
    }
}
@media (max-width: 720px){
    .guide-section{
        padding:120px 0;
        text-align:center
    }
}
@media (max-width: 376px){
    .guide-section{
        padding:70px 0 40px;
        text-align:left
    }
}
.guide-section .row{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-align:center;
    -ms-flex-align:center;
    align-items:center
}
@media (max-width: 1079px){
    .guide-section .row{
        -webkit-box-align:start;
        -ms-flex-align:start;
        align-items:flex-start
    }
}
@media (max-width: 720px){
    .guide-section .row{
        -webkit-box-orient:vertical;
        -webkit-box-direction:normal;
        -ms-flex-direction:column;
        flex-direction:column
    }
}
.guide-section__content{
    width:60%;
    color:#fff;
    padding:0 40px 0 0
}
@media (max-width: 720px){
    .guide-section__content{
        width:100%;
        padding:30px 0 0
    }
}
.guide-section__content h1{
    font-size:48px;
    line-height:1.2;
    max-width:500px;
    margin:0 0 20px;
    font-weight:normal;
	color: white;
}
@media (min-width: 376px) and (max-width: 1440px){
    .guide-section__content h1{
        font-size:calc( 28px + 20 * ((100vw - 376px) / 1064))
    }
}
@media (max-width: 376px){
    .guide-section__content h1{
        font-size:28px
    }
}
@media (max-width: 720px){
    .guide-section__content h1{
        margin:0 auto 20px
    }
}
@media (max-width: 376px){
    .guide-section__content h1{
        margin:0 0 20px
    }
}
.guide-section__content h3{
    background-color:#FFFFFF;
    border-radius:2px;
    margin:0 0 14px;
    display:inline-block;
    padding:8px 30px;
    color:#439BC3;
    font-size:16px;
    font-weight:600;
    font-size:16px
}
@media (min-width: 376px) and (max-width: 1440px){
    .guide-section__content h3{
        font-size:calc( 14px + 2 * ((100vw - 376px) / 1064))
    }
}
@media (max-width: 376px){
    .guide-section__content h3{
        font-size:14px
    }
}
@media (max-width: 720px){
    .guide-section__content h3{
        margin:0 auto 20px
    }
}
@media (max-width: 376px){
    .guide-section__content h3{
        margin:0 0 20px
    }
}
.guide-section__content p{
    opacity:0.74;
    font-size:20px;
    max-width:500px;
    font-weight:normal;
    font-size:20px;
	line-height: 1.5;
}
@media (min-width: 376px) and (max-width: 1440px){
    .guide-section__content p{
        font-size:calc( 16px + 4 * ((100vw - 376px) / 1064))
    }
}
@media (max-width: 376px){
    .guide-section__content p{
        font-size:16px
    }
}
@media (max-width: 720px){
    .guide-section__content p{
        margin:0 auto
    }
}
@media (max-width: 376px){
    .guide-section__content p{
        margin:0
    }
}
.guide-section__content .date{
    margin:30px 0 0;
    opacity:.36;
    font-weight:normal
}
@media (max-width: 1079px){
    .guide-section__content .date{
        margin:150px 0 0
    }
}
@media (max-width: 720px){
    .guide-section__content .date{
        font-size:16px;
        margin:45px 0 0
    }
}
@media (max-width: 376px){
    .guide-section__content .date{
        margin:25px 0 0
    }
}
.guide-section__image{
    width:40%;
    text-align:right
}
@media (max-width: 720px){
    .guide-section__image{
        width:100%;
        text-align:center;
        -webkit-box-ordinal-group:0;
        -ms-flex-order:-1;
        order:-1
    }
}
@media (max-width: 376px){
    .guide-section__image{
        text-align:left
    }
}
.guide-section__image img{
    width:100%
}
@media (max-width: 720px){
    .guide-section__image img{
        max-width:340px
    }
}
@media (max-width: 376px){
    .guide-section__image img{
        max-width:240px
    }
}
.guide-section.guide-section--learning{
    background-color:#439BC3;
    padding:150px 0 170px
}
@media (max-width: 1079px){
    .guide-section.guide-section--learning{
        padding:150px 0
    }
}
@media (max-width: 376px){
    .guide-section.guide-section--learning{
        padding:90px 0
    }
}
.guide-section.guide-section--learning .guide-section__content h2{
    max-width:400px
}
.guide-section.guide-section--learning .guide-section__image img{
    -webkit-transform:translateY(36px);
    transform:translateY(36px)
}
@media (max-width: 720px){
    .guide-section.guide-section--learning .guide-section__image img{
        -webkit-transform:translateY(0);
        transform:translateY(0)
    }
}
.guide-section.guide-section--skills{
    background:#40BFAB;
    padding:250px 0
}
@media (max-width: 1079px){
    .guide-section.guide-section--skills{
        padding:130px 0
    }
}
@media (max-width: 376px){
    .guide-section.guide-section--skills{
        padding:90px 0
    }
}
.guide-section.guide-section--skills h2{
    max-width:400px
}
.guide-section.guide-section--skills h3{
    color:#40bfab
}
.guide-section.guide-section--craft{
    background:#0067A5;
    padding:250px 0
}
@media (max-width: 1079px){
    .guide-section.guide-section--craft{
        padding:130px 0
    }
}
@media (max-width: 376px){
    .guide-section.guide-section--craft{
        padding:90px 0
    }
}
.guide-section .scroll-button{
    position:absolute;
    bottom:50px;
    left:50%;
    -webkit-transform:translateX(-50%);
    transform:translateX(-50%);
    width:30px;
    height:48px;
    border-radius:19px;
    border:1px solid #fff
}
@media (max-width: 720px){
    .guide-section .scroll-button{
        display:none
    }
}
.guide-section .scroll-button:before{
    content:"";
    position:absolute;
    width:4px;
    height:4px;
    border-radius:50%;
    top:0;
    background:#fff;
    left:calc(50% - 2px);
    -webkit-transform:translateY(8px);
    transform:translateY(8px);
    opacity:1;
    -webkit-animation:scroll infinite 1.5s;
    animation:scroll infinite 1.5s
}
.guide-section .scroll-button:after{
    content:"SCROLL";
    position:absolute;
    bottom:-25px;
    left:50%;
    -webkit-transform:translate(-50%);
    transform:translate(-50%);
    font-size:12px;
    color:#fff;
    opacity:.3
}
.guide-skill-level{
    padding:84px 0 134px
}
@media (max-width: 720px){
    .guide-skill-level{
        padding:70px 0 110px
    }
}
@media (max-width: 376px){
    .guide-skill-level{
        padding:50px 0 70px
    }
}
.guide-skill-level h2{
    font-size:40px;
    text-align:center;
    margin:0 0 10px;
    font-weight:normal
}
@media (min-width: 376px) and (max-width: 1440px){
    .guide-skill-level h2{
        font-size:calc( 28px + 12 * ((100vw - 376px) / 1064))
    }
}
@media (max-width: 376px){
    .guide-skill-level h2{
        font-size:28px
    }
}
.guide-skill-level p{
    font-size:18px;
    text-align:center;
    max-width:800px;
    margin:0 auto;
    font-weight:normal
}
@media (min-width: 376px) and (max-width: 1440px){
    .guide-skill-level p{
        font-size:calc( 16px + 2 * ((100vw - 376px) / 1064))
    }
}
@media (max-width: 376px){
    .guide-skill-level p{
        font-size:16px
    }
}
.guide-skill-level .skills-list{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -ms-flex-wrap:wrap;
    flex-wrap:wrap;
    margin:50px 0 0
}
.guide-skill-level .skills-list__item{
    width:33.33333%;
    padding:0 40px 0;
    font-weight:600
}
@media (max-width: 720px){
    .guide-skill-level .skills-list__item{
        width:100%;
        text-align:center
    }
    .guide-skill-level .skills-list__item:nth-child(2){
        margin:50px 0
    }
}
.guide-skill-level .skills-list__item img{
    width:110px;
    height:170px;
    margin:0 auto 10px;
    display:block
}
.guide-skill-level .skills-list__item h3{
    font-size:24px;
    margin:0 0 12px;
    font-weight:600
}
@media (min-width: 376px) and (max-width: 1440px){
    .guide-skill-level .skills-list__item h3{
        font-size:calc( 22px + 2 * ((100vw - 376px) / 1064))
    }
}
@media (max-width: 376px){
    .guide-skill-level .skills-list__item h3{
        font-size:22px
    }
}
.guide-skill-level .skills-list__item .link{
    font-size:18px;
    margin:0 0 12px;
    display:inline-block;
    position:relative;
    font-weight:600
}
@media (min-width: 376px) and (max-width: 1440px){
    .guide-skill-level .skills-list__item .link{
        font-size:calc( 16px + 2 * ((100vw - 376px) / 1064))
    }
}
@media (max-width: 376px){
    .guide-skill-level .skills-list__item .link{
        font-size:16px
    }
}
.guide-skill-level .skills-list__item .link:hover{
    color:#429EE2
}
.guide-skill-level .skills-list__item .link:hover::before{
    content:url(/wp-content/uploads/assets/guide/arrow.svg);
    position:absolute;
    top:50%;
    right:-20px;
    -webkit-transform:translateY(-50%);
    transform:translateY(-50%)
}
.guide .main-content{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-align:stretch;
    -ms-flex-align:stretch;
    align-items:stretch;
    min-height:100vh
}
.guide .main-content .aside{
    width:365px;
    height:100vh;
    -ms-flex-negative:0;
    flex-shrink:0;
    position:-webkit-sticky;
    position:sticky;
    top:0;
    /* overflow-y:scroll */
}
@media (max-width: 1079px){
    .guide .main-content .aside{
        display:none
    }
}
.guide .main-content .aside-menu{
    width:365px;
    position:-webkit-sticky;
    position:sticky;
    top:0;
    left:0;
    padding:0 0 50px;
    background:#fff;
    -webkit-transition:all .3s ease-in-out;
    transition:all .3s ease-in-out
}
.guide .main-content .aside-menu__title{
    padding:50px 10px 20px 50px;
    /* font-size:24px;
     */
    font-weight:600;
}
.guide .main-content .aside-menu__title.active,.guide .main-content .aside-menu__title:hover{
    color:#439BC3
}
.guide .main-content .aside-menu li{
    font-size: 14px;
    padding:8px 25px 8px 70px;
    font-weight:600;
    position:relative;
}
.guide .main-content .aside-menu li a{
    display:block
}
.guide .main-content .aside-menu li.active,.guide .main-content .aside-menu li:hover{
    background-color:rgba(67,155,195,0.1)
}
.guide .main-content .aside-menu li.active:after,.guide .main-content .aside-menu li:hover:after{
    content:"";
    position:absolute;
    width:2px;
    height:100%;
    background:#3A8FC1;
    top:0;
    right:1px
}
.guide .main-content .aside-menu li.active a,.guide .main-content .aside-menu li:hover a{
    color:#439BC3
}
@media (min-width: 1079px){
    .guide .main-content .aside-menu.fixed-menu{
        position:fixed;
        width:365px
    }
}
.guide .main-content .aside.active{
    -webkit-transform:scale(1);
    transform:scale(1);
    opacity:1
}
.guide .main-content .aside.active .aside-menu{
    -webkit-transform:translateX(0);
    transform:translateX(0)
}
.guide .main-content .content{
    max-width:1020px;
    width:calc(100% - 365px);
    padding:68px 110px 100px;
    border-left:1px solid rgba(151,151,151,0.14)
}
@media (max-width: 1079px){
    .guide .main-content .content{
        width:100%
    }
}
@media (max-width: 720px){
    .guide .main-content .content{
        padding:60px 45px 60px
    }
}
.guide .main-content .content h2{
    font-size:40px;
    font-weight:bold;
    margin:0 0 36px
}
@media (min-width: 376px) and (max-width: 1440px){
    .guide .main-content .content h2{
        font-size:calc( 26px + 14 * ((100vw - 376px) / 1064))
    }
}
@media (max-width: 376px){
    .guide .main-content .content h2{
        font-size:26px
    }
}
.guide .main-content .content h3{
    font-size:30px;
    font-size:30px;
    font-weight:bold;
    margin:0 0 24px
}
@media (min-width: 376px) and (max-width: 1440px){
    .guide .main-content .content h3{
        font-size:calc( 26px + 4 * ((100vw - 376px) / 1064))
    }
}
@media (max-width: 376px){
    .guide .main-content .content h3{
        font-size:26px
    }
}
.guide .main-content .content .question{
    font-size:18px;
    font-weight:bold;
    color:#439BC3;
    margin:0 0 14px;
    font-size:18px
}
@media (min-width: 376px) and (max-width: 1440px){
    .guide .main-content .content .question{
        font-size:calc( 16px + 2 * ((100vw - 376px) / 1064))
    }
}
@media (max-width: 376px){
    .guide .main-content .content .question{
        font-size:16px
    }
}
.guide .main-content .content .text{
    margin:0 0 28px;
    font-size:18px
}
@media (min-width: 376px) and (max-width: 1440px){
    .guide .main-content .content .text{
        font-size:calc( 16px + 2 * ((100vw - 376px) / 1064))
    }
}
@media (max-width: 376px){
    .guide .main-content .content .text{
        font-size:16px
    }
}
.guide .main-content .content .text.text--bold{
    font-weight:bold
}
.guide .main-content .content .text.text--list{
    margin:0 0 4px
}
.guide .main-content .content .text .colored{
    color:#439BC3
}
.guide .main-content .content .text .num{
    font-size:24px;
    font-weight:bold
}
@media (min-width: 376px) and (max-width: 1440px){
    .guide .main-content .content .text .num{
        font-size:calc( 18px + 6 * ((100vw - 376px) / 1064))
    }
}
@media (max-width: 376px){
    .guide .main-content .content .text .num{
        font-size:18px
    }
}
.guide .main-content .content .text-link{
    text-decoration:underline
}
.guide .main-content .content .text-link.\--light{
    color:#838890
}
.guide .main-content .content .text-link.\--dark{
    color:#434a54;
    font-weight:600
}
.guide .main-content .content .text.text--desc{
    margin:0 0 28px
}
.guide .main-content .content .list-items li{
    position:relative;
    padding:0 0 0 26px;
    line-height:1.5;
    font-size:18px
}
@media (min-width: 376px) and (max-width: 1440px){
    .guide .main-content .content .list-items li{
        font-size:calc( 16px + 2 * ((100vw - 376px) / 1064))
    }
}
@media (max-width: 376px){
    .guide .main-content .content .list-items li{
        font-size:16px
    }
}
.guide .main-content .content .list-items li:before{
    content:"";
    width:7px;
    height:7px;
    background:#439BC3;
    position:absolute;
    left:0;
    top:10px;
    border-radius:50%
}
.guide .main-content .content .list-items li ul li{
    margin:12px 0
}
.guide .main-content .content .list-items li ul li:before{
    background:transparent;
    border:1px solid #439BC3
}
.guide .main-content .content .list-items span{
    font-weight:600
}
.guide .main-content .content .list-items.\--beforeText{
    margin:0 0 14px
}
.guide .main-content .content .image{
    width:100%;
    margin:35px 0
}
.guide .main-content .content .article{
    padding:0 0 60px;
}
@media (max-width: 719px){
    .guide .main-content .content .article{
        padding:0 0 40px
    }
}
.guide .main-content .content .large-section{
    background:#353F71;
    position:relative
}
.guide .main-content .content .large-section:before{
    content:"";
    position:absolute;
    top:0;
    left:-110px;
    width:110px;
    height:100%;
    z-index:-1;
    background:#353F71
}
@media (max-width: 720px){
    .guide .main-content .content .large-section:before{
        width:45px;
        left:-45px
    }
}
.guide .main-content .content .large-section:after{
    content:"";
    position:absolute;
    top:0;
    right:calc(var(--afterWidth) * -1);
    width:var(--afterWidth);
    height:100%;
    z-index:-1;
    background:#353F71
}
@media (max-width: 720px){
    .guide .main-content .content .large-section:after{
        width:45px;
        right:-45px
    }
}
.guide .main-content .content .large-section--news{
    padding:10px 0;
    color:#fff;
    margin:70px 0 50px
}
@media (max-width: 720px){
    .guide .main-content .content .large-section--news{
        padding:20px 0
    }
}
@media (max-width: 376px){
    .guide .main-content .content .large-section--news{
        padding:40px 0
    }
}
.guide .main-content .content .large-section--news .row{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-pack:justify;
    -ms-flex-pack:justify;
    justify-content:space-between;
    -webkit-box-align:center;
    -ms-flex-align:center;
    align-items:center
}
@media (max-width: 720px){
    .guide .main-content .content .large-section--news .row{
        -webkit-box-orient:vertical;
        -webkit-box-direction:normal;
        -ms-flex-direction:column;
        flex-direction:column;
        -webkit-box-align:start;
        -ms-flex-align:start;
        align-items:flex-start
    }
}
.guide .main-content .content .large-section--news__content{
    padding:0 10px 0 0
}
@media (max-width: 720px){
    .guide .main-content .content .large-section--news__content{
        padding:0 0 10px
    }
}
@media (max-width: 376px){
    .guide .main-content .content .large-section--news__content{
        padding:0 0 25px
    }
}
.guide .main-content .content .large-section--news__content .title{
    font-size:18px;
    font-weight:600
}
.guide .main-content .content .large-section--news__content p{
    font-size:16px;
    opacity:.5
}
@media (max-width: 720px){
    .guide .main-content .content .large-section--news__content p{
        font-size:14px;
        margin:10px 0 0
    }
}
.guide .main-content .content .large-section--news__form{
    -ms-flex-negative:0;
    flex-shrink:0
}
.guide .main-content .content .large-section--news__form form{
    position:relative
}
.guide .main-content .content .large-section--news__form input{
    width:260px;
    height:25px;
    border-bottom:1px solid rgba(255,255,255,0.8);
    background:transparent;
    font-size:16px
}
.guide .main-content .content .large-section--news__form input::-webkit-input-placeholder{
    color:rgba(255,255,255,0.6)
}
.guide .main-content .content .large-section--news__form input:-ms-input-placeholder{
    color:rgba(255,255,255,0.6)
}
.guide .main-content .content .large-section--news__form input::-ms-input-placeholder{
    color:rgba(255,255,255,0.6)
}
.guide .main-content .content .large-section--news__form input::placeholder{
    color:rgba(255,255,255,0.6)
}
@media (max-width: 376px){
    .guide .main-content .content .large-section--news__form input{
        width:220px
    }
}
.guide .main-content .content .large-section--news__form .send-email{
    position:absolute;
    top:50%;
    right:5px;
    -webkit-transform:translateY(-50%);
    transform:translateY(-50%);
    background:transparent
}
.guide .main-content .content .large-section--news__form .send-email img{
    width:13px
}
.guide .main-content .content .large-section--news:after{
    background-image:url(/wp-content/uploads/assets/guide/speech-bubble.svg);
    background-repeat:no-repeat;
    background-size:90px 90px;
    background-position:20px 40%
}
@media (max-width: 720px){
    .guide .main-content .content .large-section--news:after{
        background-image:none
    }
}
.guide .main-content .content .large-section--try{
    padding:30px 0;
    margin:0 0 150px;
    text-align:center;
    color:#fff
}
@media (max-width: 1079px){
    .guide .main-content .content .large-section--try{
        padding:30px
    }
}
@media (max-width: 719px){
    .guide .main-content .content .large-section--try{
        padding:45px 0;
        text-align:left
    }
}
.guide .main-content .content .large-section--try h5{
    font-size:30px;
    text-align:center;
    max-width:550px;
    font-weight:bold;
    margin:0 auto 7px
}
@media (min-width: 376px) and (max-width: 1440px){
    .guide .main-content .content .large-section--try h5{
        font-size:calc( 26px + 4 * ((100vw - 376px) / 1064))
    }
}
@media (max-width: 376px){
    .guide .main-content .content .large-section--try h5{
        font-size:26px
    }
}
@media (max-width: 719px){
    .guide .main-content .content .large-section--try h5{
        text-align:left;
        margin:0 auto 10px
    }
}
.guide .main-content .content .large-section--try p{
    font-size:18px;
    text-align:center
}
@media (min-width: 376px) and (max-width: 1440px){
    .guide .main-content .content .large-section--try p{
        font-size:calc( 16px + 2 * ((100vw - 376px) / 1064))
    }
}
@media (max-width: 376px){
    .guide .main-content .content .large-section--try p{
        font-size:16px
    }
}
@media (max-width: 719px){
    .guide .main-content .content .large-section--try p{
        text-align:left
    }
}
.guide .main-content .content .large-section--try a{
    display:inline-block;
    width:170px;
    padding:11px 0;
    color:#439bc3;
    background:#fff;
    border-radius:4px;
    margin:38px 0 0;
    font-weight:600;
    font-size:18px;
    text-align:center
}
.guide .main-content .content .large-section--try .mark{
    color:#fff
}
.guide .main-content .content .colored-boxes{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -ms-flex-wrap:wrap;
    flex-wrap:wrap;
    margin:60px 0
}
.guide .main-content .content .colored-boxes__item{
    width:calc(100% / 3 - 16px);
    padding:24px 18px 36px;
    color:#fff;
    text-align:center
}
.guide .main-content .content .colored-boxes__item:nth-child(2){
    margin:0 24px
}
@media (max-width: 719px){
    .guide .main-content .content .colored-boxes__item{
        width:100%;
        padding:15px
    }
    .guide .main-content .content .colored-boxes__item:nth-child(2){
        margin:10px 0
    }
}
.guide .main-content .content .colored-boxes__item h6{
    font-size:18px;
    opacity:.85;
    font-weight:600;
    text-align:center
}
@media (min-width: 376px) and (max-width: 1440px){
    .guide .main-content .content .colored-boxes__item h6{
        font-size:calc( 14px + 4 * ((100vw - 376px) / 1064))
    }
}
@media (max-width: 376px){
    .guide .main-content .content .colored-boxes__item h6{
        font-size:14px
    }
}
.guide .main-content .content .colored-boxes__item .large{
    font-size:64px;
    font-weight:bold;
    line-height:1.1;
    text-align:center
}
@media (min-width: 719px) and (max-width: 1440px){
    .guide .main-content .content .colored-boxes__item .large{
        font-size:calc( 46px + 18 * ((100vw - 719px) / 721))
    }
}
@media (max-width: 719px){
    .guide .main-content .content .colored-boxes__item .large{
        font-size:46px
    }
}
.guide .main-content .content .colored-boxes__item p{
    opacity:.85;
    font-size:14px;
    font-weight:600
}
.guide .main-content .content .colored-boxes__item.\--green{
    background:#40BFAB
}
.guide .main-content .content .colored-boxes__item.\--blue{
    background:#72B4D2
}
.guide .main-content .content .colored-boxes__item.\--red{
    background-color:#E9845F
}
.guide .main-content .content .mark{
    position:relative;
    overflow:hidden;
    -webkit-transition:all .2s ease-in-out;
    transition:all .2s ease-in-out;
    background:transparent;
    display:-webkit-inline-box;
    display:-ms-inline-flexbox;
    display:inline-flex;
    color:#434A54
}
.guide .main-content .content .mark span{
    position:relative;
    z-index:2
}
.guide .main-content .content .mark:after{
    content:"";
    z-index:1;
    background:#439BC3;
    width:100%;
    height:100%;
    position:absolute;
    bottom:calc(2px - 100%);
    left:0;
    -webkit-transition:all .2s ease-in-out;
    transition:all .2s ease-in-out
}
.guide .main-content .content .mark:hover{
    color:#fff
}
.guide .main-content .content .mark:hover:after{
    bottom:0
}
.guide .main-content .content .table-wrapper{
    overflow-x:scroll;
    -webkit-box-shadow:0 5px 20px 0 rgba(0,0,0,0.11);
    box-shadow:0 5px 20px 0 rgba(0,0,0,0.11);
    background:#fff;
    margin:50px 0
}
.guide .main-content .content .table-wrapper.\--types{
    -webkit-box-shadow:none;
    box-shadow:none
}
.guide .main-content .content .table-wrapper.\--centered{
    max-width:570px;
    margin:30px auto
}
.guide .main-content .content .table{
    width:100%;
    background:#fff;
    border-collapse:collapse;
    min-width:570px
}
.guide .main-content .content .table.table--families thead td{
    min-width:250px;
    padding:13px 20px;
    color:#439BC3;
    font-size:16px;
    font-weight:600;
    border:1px solid rgba(67,74,84,0.12)
}
.guide .main-content .content .table.table--families thead td:nth-child(2){
    min-width:400px
}
.guide .main-content .content .table.table--families tbody td{
    padding:20px;
    font-size:16px;
    vertical-align:top;
    border:1px solid rgba(67,74,84,0.12)
}
.guide .main-content .content .table.table--families tbody td:nth-child(odd){
    font-weight:600;
    font-size:18px
}
.guide .main-content .content .table.table--use thead td{
    min-width:200px;
    text-align:center;
    color:#0067A5;
    padding:15px 10px;
    border:1px solid rgba(67,74,84,0.12)
}
.guide .main-content .content .table.table--use thead td:nth-child(2){
    min-width:200px
}
.guide .main-content .content .table.table--use tbody td{
    text-align:center;
    padding:20px 10px
}
.guide .main-content .content .table.table--difference thead tr{
    background-color:rgba(67,74,84,0.06)
}
.guide .main-content .content .table.table--difference thead td{
    border:1px solid rgba(67,74,84,0.12);
    font-weight:600;
    font-size:16px;
    text-align:center;
    color:#0067a5;
    padding:15px 10px
}
.guide .main-content .content .table.table--difference thead td:first-child{
    width:300px
}
.guide .main-content .content .table.table--difference tbody td{
    padding:8px 10px;
    text-align:center;
    font-size:16px;
    border:1px solid rgba(67,74,84,0.12)
}
.guide .main-content .content .table.table--difference tbody td:first-child{
    font-weight:600
}
.guide .main-content .content .table.table--feature thead td{
    border:1px solid rgba(67,74,84,0.12);
    font-size:16px;
    font-weight:600;
    padding:15px 20px;
    color:#0067a5
}
.guide .main-content .content .table.table--feature tbody td{
    border:1px solid rgba(67,74,84,0.12);
    font-size:16px;
    padding:8px 20px
}
.guide .main-content .content .table.table--feature tbody td:first-child{
    font-weight:600;
    width:270px
}
.guide .main-content .content .table--types{
    min-width:800px
}
.guide .main-content .content .table--types .row{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    margin-bottom:10px
}
.guide .main-content .content .table--types .row div{
    width:112px;
    height:30px;
    line-height:30px;
    text-align:center;
    color:#838890;
    border-right:1px solid rgba(67,74,84,0.12)
}
.guide .main-content .content .table--types .row div b{
    color:#434A54
}
.guide .main-content .content .table--types .row div.first{
    border-left:1px solid rgba(67,74,84,0.12)
}
.guide .main-content .content .blockquote{
    padding:16px 50px 16px 50px;
    color:#fff;
    background:#72B4D2;
    margin:50px 0 20px
}
@media (max-width: 719px){
    .guide .main-content .content .blockquote{
        padding:50px 0;
        position:relative
    }
    .guide .main-content .content .blockquote:before,.guide .main-content .content .blockquote:after{
        content:"";
        position:absolute;
        width:45px;
        background:#72B4D2;
        top:0;
        height:100%
    }
    .guide .main-content .content .blockquote:before{
        left:-45px
    }
    .guide .main-content .content .blockquote:after{
        right:-45px
    }
}
.guide .main-content .content .blockquote p{
    font-size:22px;
    font-weight:normal;
    position:relative;
    padding-right:15px
}
@media (min-width: 376px) and (max-width: 1440px){
    .guide .main-content .content .blockquote p{
        font-size:calc( 16px + 6 * ((100vw - 376px) / 1064))
    }
}
@media (max-width: 376px){
    .guide .main-content .content .blockquote p{
        font-size:16px
    }
}
@media (max-width: 719px){
    .guide .main-content .content .blockquote p{
        padding:0
    }
}
.guide .main-content .content .blockquote p::before{
    content:url(/wp-content/uploads/assets/guide/quote.svg);
    position:absolute;
    top:-2px;
    left:-34px
}
@media (max-width: 719px){
    .guide .main-content .content .blockquote p::before{
        top:-25px;
        left:0
    }
}
.guide .main-content .content .blockquote p::after{
    content:url(/wp-content/uploads/assets/guide/quote.svg);
    position:absolute;
    bottom:-2px;
    right:0;
    -webkit-transform:rotate(180deg);
    transform:rotate(180deg)
}
@media (max-width: 719px){
    .guide .main-content .content .blockquote p::after{
        bottom:-25px;
        right:0
    }
}
.guide .main-content .content .blockquote .author-block{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-align:center;
    -ms-flex-align:center;
    align-items:center;
    margin:28px 0 0
}
.guide .main-content .content .blockquote .author-block img{
    max-width:32px
}
.guide .main-content .content .blockquote .author-block .author{
    margin:0 0 0 10px;
    line-height:1.1
}
.guide .main-content .content .blockquote .author-block .author span{
    font-size:14px;
    font-weight:600
}
.guide .main-content .content .blockquote .author-block .author .desc{
    font-weight:normal;
    font-size:14px
}
.guide .main-content .content .note-block{
    padding:16px 30px 16px 50px;
    background:rgba(67,155,195,0.06);
    margin:50px 0 30px;
    font-size:18px;
    position:relative
}
@media (min-width: 376px) and (max-width: 1440px){
    .guide .main-content .content .note-block{
        font-size:calc( 16px + 2 * ((100vw - 376px) / 1064))
    }
}
@media (max-width: 376px){
    .guide .main-content .content .note-block{
        font-size:16px
    }
}
.guide .main-content .content .note-block:after{
    content:"";
    position:absolute;
    top:0;
    right:0;
    width:2px;
    height:100%;
    background:#439bc3
}
@media (max-width: 719px){
    .guide .main-content .content .note-block{
        padding:16px 0
    }
    .guide .main-content .content .note-block:before,.guide .main-content .content .note-block:after{
        content:"";
        position:absolute;
        top:0;
        background:rgba(67,155,195,0.06);
        width:45px;
        height:100%
    }
    .guide .main-content .content .note-block:before{
        left:-45px
    }
    .guide .main-content .content .note-block:after{
        right:-45px
    }
}
.guide .main-content .content .note-block h6{
    font-weight:600;
    margin:0 0 4px;
    position:relative;
    font-size:18px
}
@media (min-width: 376px) and (max-width: 1440px){
    .guide .main-content .content .note-block h6{
        font-size:calc( 16px + 2 * ((100vw - 376px) / 1064))
    }
}
@media (max-width: 376px){
    .guide .main-content .content .note-block h6{
        font-size:16px
    }
}
.guide .main-content .content .note-block h6:before{
    content:url(/wp-content/uploads/assets/guide/info.svg);
    position:absolute;
    left:-30px;
    top:3px
}
@media (max-width: 719px){
    .guide .main-content .content .note-block h6{
        color:#72B4D2
    }
    .guide .main-content .content .note-block h6:before{
        position:static;
        display:inline-block;
        -webkit-transform:translateY(2px);
        transform:translateY(2px);
        margin:0 5px 0 0
    }
}
.guide .main-content .content.content--skills .mark:after{
    background:#40bfab
}
.guide .main-content .content.content--skills .list-items li:before{
    background:#40bfab
}
.guide .main-content .content.content--skills .question{
    color:#40bfab
}
.guide .main-content .content.content--skills .question.formula{
    font-size:16px;
    text-align:center;
    font-weight:400px;
    margin:15px 0
}
.guide .main-content .content.content--skills .text .colored{
    color:#40bfab
}
.guide .main-content .content.content--skills .table.table--families thead td{
    color:#40bfab
}
.guide .main-content .content.content--skills .table.table--families thead th{
    border:1px solid rgba(67,74,84,0.12);
    font-weight:600;
    padding:10px 24px;
    color:#40bfab
}
.guide .main-content .content.content--skills .table.table--families.table--ebs tbody td{
    padding:20px 5px;
    font-weight:normal;
    font-size:14px;
    text-align:center;
    vertical-align:middle
}
.guide .main-content .content.content--skills .table.table--families.table--ec2 thead th{
    padding:10px;
    font-size:14px;
    text-align:left
}
.guide .main-content .content.content--skills .table.table--families.table--ec2 tbody td{
    padding:10px;
    font-weight:normal;
    font-size:14px;
    text-align:left
}
.guide .main-content .content.content--skills .table-title{
    font-size:22px;
    font-weight:bold;
    margin:0 0 15px;
    text-align:center
}
@media (min-width: 376px) and (max-width: 1440px){
    .guide .main-content .content.content--skills .table-title{
        font-size:calc( 18px + 4 * ((100vw - 376px) / 1064))
    }
}
@media (max-width: 376px){
    .guide .main-content .content.content--skills .table-title{
        font-size:18px
    }
}
.guide .main-content .content.content--skills .table-with-title{
    margin:0
}
.guide .main-content .content.content--skills .table-desc{
    font-size:15px;
    font-weight:normal;
    text-align:center;
    margin:10px 0
}
@media (min-width: 376px) and (max-width: 1440px){
    .guide .main-content .content.content--skills .table-desc{
        font-size:calc( 13px + 2 * ((100vw - 376px) / 1064))
    }
}
@media (max-width: 376px){
    .guide .main-content .content.content--skills .table-desc{
        font-size:13px
    }
}
.guide .main-content .content.content--craft .mark:after{
    background:#0067A5
}
.guide .main-content .content.content--craft .question{
    color:#0067A5
}
.guide .main-content .content.content--craft .colored{
    color:#0067A5
}
.guide .main-content .content.content--craft .list-items li:before{
    background:#0067A5
}
.guide .mob-aside{
    width:100%;
    height:100%;
    position:fixed;
    left:0;
    top:0;
    -webkit-transform:scale(0);
    transform:scale(0);
    background:rgba(0,0,0,0.1);
    z-index:100
}
.guide .mob-aside-menu{
    -webkit-box-shadow:0 2px 10px 0 rgba(0,0,0,0.15);
    box-shadow:0 2px 10px 0 rgba(0,0,0,0.15);
    max-width:770px;
    -webkit-transform:translateX(-100%);
    transform:translateX(-100%);
    height:100%;
    padding:40px 0 0 20px;
    overflow-y:scroll;
    width:100%;
    -webkit-transition:-webkit-transform .2s ease-in-out;
    transition:-webkit-transform .2s ease-in-out;
    transition:transform .2s ease-in-out;
    transition:transform .2s ease-in-out, -webkit-transform .2s ease-in-out;
    background:#fff
}
@media (max-width: 720px){
    .guide .mob-aside-menu{
        padding:40px 0;
        max-width:540px
    }
}
.guide .mob-aside-menu .close-menu{
    position:absolute;
    top:22px;
    left:44px;
    background:transparent;
    width:40px;
    height:40px;
    z-index:1;
    display:none
}
.guide .mob-aside-menu .close-menu img{
    pointer-events:none
}
@media (max-width: 1079px){
    .guide .mob-aside-menu .close-menu{
        display:block
    }
}
.guide .mob-aside-menu__title{
    padding:50px 10px 20px 50px;
    font-size:24px;
    font-weight:600
}
.guide .mob-aside-menu__title.active{
    color:#439BC3
}
.guide .mob-aside-menu li{
    font-size:16px;
    padding:8px 25px 8px 70px;
    font-weight:600;
    position:relative
}
.guide .mob-aside-menu li a{
    display:block
}
.guide .mob-aside-menu li.active a,.guide .mob-aside-menu li:hover a{
    color:#439BC3
}
.guide .mob-aside.active{
    -webkit-transform:scale(1);
    transform:scale(1)
}
.guide .mob-aside.active .mob-aside-menu{
    -webkit-transform:translateX(0);
    transform:translateX(0)
}
.guide .nav-bar{
    position:-webkit-sticky;
    position:sticky;
    top:0;
    padding:20px 0;
    -webkit-box-shadow:0 2px 10px 0 rgba(0,0,0,0.15);
    box-shadow:0 2px 10px 0 rgba(0,0,0,0.15);
    background:#fff;
    z-index:50;
    display:none
}
@media (max-width: 1079px){
    .guide .nav-bar{
        display:block
    }
}
.guide .nav-bar .burger{
    background:transparent;
    cursor:pointer
}
.guide .nav-bar .burger img{
    max-width:30px;
    -webkit-transform:translateY(2px);
    transform:translateY(2px)
}
.guide .nav-bar .title{
    position:absolute;
    top:50%;
    left:50%;
    -webkit-transform:translate(-50%, -50%);
    transform:translate(-50%, -50%)
}
@media (max-width: 376px){
    .guide .nav-bar .title{
        display:none
    }
}

.text {
    line-height: 1.6em;
}