<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Main page</title>
    <link rel="stylesheet" href="normalize.css">
    <link rel="stylesheet" href="mytheme.min.css">
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="swiper.min.css">
    <link rel="stylesheet" href="blog.css">
    <link rel="stylesheet" href="main.css">
</head>

<body>
    <main class="main">
        <section class="header-section">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-xl-5 col-lg-6 col- header-section__content">
                        <h1 class="title-h1">Your Cloud Efficiency Expert</h1>
                        <p>Find the ideal instance every time, always
                            know your bill & save</p>
                        <div class="buttons">
                            <a href="#" class="btn btn--blue">Sign Up Free</a>
                            <a href="#" class="btn-outline btn-outline--blue">See a Demo</a>
                        </div>
                    </div>
                    <div class="col-xl-7 col-lg-6 header-section__image">
                        <img class="img-fluid" src="assets/header-img.png" alt="header image">
                    </div>
                </div>
            </div>
        </section>
        <section class="paying-section">
            <div class="container">
                <h2 class="title-h2">Start paying for what you use — and no more!</h2>
                <div class="row row-wrapper align-items-center justify-content-center">
                    <div class="col-xl-6 col-lg-6 col-md-9 paying-section__image">
                        <div class="bg-mask">
                            <img src="assets/bubble-1.png" alt="bubble bg">
                        </div>
                        <img class="img img-fluid" src="assets/img-2.png" alt="image">
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-9 paying-section__content">
                        <h3 class="title-h3">Using the public cloud is supposed <span class="green">to be
                                cost-effective.</span> </h3>
                        <p>Metricly delivers on that promise by empowering you with the analytics recommendation tools,
                            and live expert advice, needed to confidently take back control over your cloud billing
                            without risking performance expectations.Go forth unafraid in satisfying both your finance
                            team and your DevOps team!</p>
                        <a class="link --green" href="#">
                            <span>
                                <svg height="14" viewBox="0 0 18 14" width="18" xmlns="http://www.w3.org/2000/svg">
                                    <path d="m21.774214 14.1804715c-.2179739-.2406287-.5807558-.2406287-.8063512 0-.2179739.2324993-.2179739.6194562 0 .8514136l4.0886631 4.3611237h-13.4920292c-.3145126.0005419-.5644967.2671845-.5644967.6026555 0 .3354711.2499841.610785.5644967.610785h13.4920292l-4.0886631 4.3529943c-.2179739.2406287-.2179739.6281275 0 .8600849.2255954.2406287.5888854.2406287.8063512 0l5.0565894-5.3935507c.2255955-.2324993.2255955-.6194563 0-.8514136z"
                                        stroke-width=".5" transform="translate(-10 -13)" /></svg>
                            </span>
                            See All Features
                        </a>
                    </div>
                </div>
                <div class="row row-wrapper align-items-center justify-content-center">
                        <div class="col-xl-6 col-lg-6 col-md-9 paying-section__content">
                                <h3 class="title-h3">Match capacity to <span class="blue">performance</span></h3>
                                <p>Metricly delivers on that promise by empowering you with the analytics recommendation tools,
                                    and live expert advice, needed to confidently take back control over your cloud billing
                                    without risking performance expectations.Go forth unafraid in satisfying both your finance
                                    team and your DevOps team!</p>
                                <a class="link --blue" href="#">
                                    <span>
                                        <svg height="14" viewBox="0 0 18 14" width="18" xmlns="http://www.w3.org/2000/svg">
                                            <path d="m21.774214 14.1804715c-.2179739-.2406287-.5807558-.2406287-.8063512 0-.2179739.2324993-.2179739.6194562 0 .8514136l4.0886631 4.3611237h-13.4920292c-.3145126.0005419-.5644967.2671845-.5644967.6026555 0 .3354711.2499841.610785.5644967.610785h13.4920292l-4.0886631 4.3529943c-.2179739.2406287-.2179739.6281275 0 .8600849.2255954.2406287.5888854.2406287.8063512 0l5.0565894-5.3935507c.2255955-.2324993.2255955-.6194563 0-.8514136z"
                                                stroke-width=".5" transform="translate(-10 -13)" /></svg>
                                    </span>
                                    See All Features
                                </a>
                            </div>
                    <div class="col-xl-6 col-lg-6 col-md-9 paying-section__image">
                        <div class="bg-mask">
                            <img src="assets/bubble-2.png" alt="bubble bg">
                        </div>
                        <img class="img img-fluid" src="assets/img-3.png" alt="image">
                    </div>
                </div>
            </div>
        </section>
        <section class="companies-section">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-5 companies-section__content">
                        <h3 class="title-h3">Technology Trusted by Companies Like</h3>
                        <p>Our multi-conditional alerting powered by anomaly detection can detect all of your creeping
                            performance problems before your users do.</p>
                        <a href="#" class="link --gray">
                            <span>
                                <svg height="14" viewBox="0 0 18 14" width="18" xmlns="http://www.w3.org/2000/svg">
                                    <path d="m21.774214 14.1804715c-.2179739-.2406287-.5807558-.2406287-.8063512 0-.2179739.2324993-.2179739.6194562 0 .8514136l4.0886631 4.3611237h-13.4920292c-.3145126.0005419-.5644967.2671845-.5644967.6026555 0 .3354711.2499841.610785.5644967.610785h13.4920292l-4.0886631 4.3529943c-.2179739.2406287-.2179739.6281275 0 .8600849.2255954.2406287.5888854.2406287.8063512 0l5.0565894-5.3935507c.2255955-.2324993.2255955-.6194563 0-.8514136z"
                                        stroke-width=".5" transform="translate(-10 -13)" /></svg>
                            </span>
                            Read Customer Stories
                        </a>
                    </div>
                    <div class="col-lg-6 offset-lg-1 companies-section__images">
                        <span><img src="assets/mixbook.png" alt="mixbook"></span>
                        <span><img src="assets/parse.png" alt="parse"></span>
                        <span><img src="assets/buyerquest.png" alt="buyerquest"></span>
                        <span><img src="assets/jostle.png" alt="jostle"></span>
                        <span><img src="assets/koch.png" alt="koch"></span>
                        <span><img src="assets/trice.png" alt="trice"></span>
                        <span><img src="assets/viewpost.png" alt="viewpost"></span>
                        <span><img src="assets/open.png" alt="openx"></span>
                        <span><img src="assets/examsoft.png" alt="examsoft"></span>
                    </div>
                </div>
            </div>
        </section>
        <section class="paying-section --reverse">
            <div class="container">
                <div class="row row-wrapper align-items-center justify-content-center">
                    <div class="col-xl-6 col-lg-6 col-md-9 paying-section__image">
                        <div class="bg-mask">
                            <img src="assets/bubble-1.png" alt="bubble bg">
                        </div>
                        <img class="img img-fluid" src="assets/img-2.png" alt="image">
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-9 paying-section__content">
                        <h3 class="title-h3">Using the public cloud is supposed <span class="green">to be
                                cost-effective.</span> </h3>
                        <p>Metricly delivers on that promise by empowering you with the analytics recommendation tools,
                            and live expert advice, needed to confidently take back control over your cloud billing
                            without risking performance expectations.Go forth unafraid in satisfying both your finance
                            team and your DevOps team!</p>
                        <a class="link --green" href="#">
                            <span>
                                <svg height="14" viewBox="0 0 18 14" width="18" xmlns="http://www.w3.org/2000/svg">
                                    <path d="m21.774214 14.1804715c-.2179739-.2406287-.5807558-.2406287-.8063512 0-.2179739.2324993-.2179739.6194562 0 .8514136l4.0886631 4.3611237h-13.4920292c-.3145126.0005419-.5644967.2671845-.5644967.6026555 0 .3354711.2499841.610785.5644967.610785h13.4920292l-4.0886631 4.3529943c-.2179739.2406287-.2179739.6281275 0 .8600849.2255954.2406287.5888854.2406287.8063512 0l5.0565894-5.3935507c.2255955-.2324993.2255955-.6194563 0-.8514136z"
                                        stroke-width=".5" transform="translate(-10 -13)" /></svg>
                            </span>
                            See All Features
                        </a>
                    </div>
                </div>
                <div class="row row-wrapper  align-items-center justify-content-center">
                        <div class="col-xl-6 col-lg-6 col-md-9 paying-section__content">
                                <h3 class="title-h3">Match capacity to <span class="blue">performance</span></h3>
                                <p>Metricly delivers on that promise by empowering you with the analytics recommendation tools,
                                    and live expert advice, needed to confidently take back control over your cloud billing
                                    without risking performance expectations.Go forth unafraid in satisfying both your finance
                                    team and your DevOps team!</p>
                                <a class="link --blue" href="#">
                                    <span>
                                        <svg height="14" viewBox="0 0 18 14" width="18" xmlns="http://www.w3.org/2000/svg">
                                            <path d="m21.774214 14.1804715c-.2179739-.2406287-.5807558-.2406287-.8063512 0-.2179739.2324993-.2179739.6194562 0 .8514136l4.0886631 4.3611237h-13.4920292c-.3145126.0005419-.5644967.2671845-.5644967.6026555 0 .3354711.2499841.610785.5644967.610785h13.4920292l-4.0886631 4.3529943c-.2179739.2406287-.2179739.6281275 0 .8600849.2255954.2406287.5888854.2406287.8063512 0l5.0565894-5.3935507c.2255955-.2324993.2255955-.6194563 0-.8514136z"
                                                stroke-width=".5" transform="translate(-10 -13)" /></svg>
                                    </span>
                                    See All Features
                                </a>
                            </div>
                    <div class="col-xl-6 col-lg-6 col-md-9 paying-section__image">
                        <div class="bg-mask">
                            <img src="assets/bubble-2.png" alt="bubble bg">
                        </div>
                        <img class="img img-fluid" src="assets/img-3.png" alt="image">
                    </div>
                </div>
            </div>
        </section>
        <section class="blog-section">
            <div class="container">
                <div class="blog-section__header">
                    <h2 class="title-h2">Metricly latest blog</h2>
                    <a href="#" class="read-more">
                        Read more
                        <span>
                            <svg height="11" viewBox="0 0 18 14" width="15" xmlns="http://www.w3.org/2000/svg">
                                <path d="m21.774214 14.1804715c-.2179739-.2406287-.5807558-.2406287-.8063512 0-.2179739.2324993-.2179739.6194562 0 .8514136l4.0886631 4.3611237h-13.4920292c-.3145126.0005419-.5644967.2671845-.5644967.6026555 0 .3354711.2499841.610785.5644967.610785h13.4920292l-4.0886631 4.3529943c-.2179739.2406287-.2179739.6281275 0 .8600849.2255954.2406287.5888854.2406287.8063512 0l5.0565894-5.3935507c.2255955-.2324993.2255955-.6194563 0-.8514136z"
                                    stroke-width=".5" transform="translate(-10 -13)" /></svg>
                        </span>
                    </a>
                </div>
                <ul class="row blog-section__posts">
                    <li class="col-lg-4 col-md-6">
                        <a href="#"><img class="img-fluid" src="assets/img6.jpg" alt="post image"></a>
                        <div class="wrapper">
                            <a href="#" class="title-category">Cloud Cost Management</a>
                            <a href="#" class="title-h4">Want to Reduce Your AWS Bill? Here’s 7 Practical Ways to Do It</a>
                            <div class="name">Mike Mackrory&nbsp;|&nbsp;5 min read</div>
                        </div>
                    </li>
                    <li class="col-lg-4 col-md-6">
                        <a href="#"><img class="img-fluid" src="assets/img7.jpg" alt="post image"></a>
                        <div class="wrapper">
                            <a href="#" class="title-category">PRODUCT UPDATE</a>
                            <a href="#" class="title-h4">Integration Update: <br>
                                AWS EFS Metrics & Policies</a>
                            <div class="name">Mike Mackrory&nbsp;|&nbsp;5 min read</div>
                        </div>
                    </li>
                    <li class="col-lg-4 col-md-6">
                        <a href="#"><img class="img-fluid" src="assets/img8.jpg" alt="post image"></a>
                        <div class="wrapper">
                            <a href="#" class="title-category">PRODUCT UPDATE</a href="#">
                            <a href="#" class="title-h4">Refresh:<br>
                                The AWS Services Cost Report</a>
                                <div class="name">Mike Mackrory&nbsp;|&nbsp;5 min read</div>
                        </div>
                    </li>
                </ul>
            </div>
        </section>
        <section class="help-section">
            <div class="container">
                <h3 class="title-h3">We’ve Here To Help You<br>
                    <span class="blue">Every Step of the Way</span>
                </h3>
                <div class="row mobile-wrapper">
                    <div class="col-lg-4  col-md-6">
                        <div class="item">
                            <img src="assets/icon-1.svg" alt="icon">
                            <h4 class="title-h4">Proactive Services<br>
                                by Metricly
                            </h4>
                            <p>Don’t rely on guesses and approximations to size your resources</p>
                            <a href="#" class="learn-more">
                                <span>
                                    <svg height="14" viewBox="0 0 18 14" width="18" xmlns="http://www.w3.org/2000/svg">
                                        <path d="m21.774214 14.1804715c-.2179739-.2406287-.5807558-.2406287-.8063512 0-.2179739.2324993-.2179739.6194562 0 .8514136l4.0886631 4.3611237h-13.4920292c-.3145126.0005419-.5644967.2671845-.5644967.6026555 0 .3354711.2499841.610785.5644967.610785h13.4920292l-4.0886631 4.3529943c-.2179739.2406287-.2179739.6281275 0 .8600849.2255954.2406287.5888854.2406287.8063512 0l5.0565894-5.3935507c.2255955-.2324993.2255955-.6194563 0-.8514136z"
                                            stroke-width=".5" transform="translate(-10 -13)" /></svg>
                                </span>
                                Learn more
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="item">
                            <img src="assets/icon-2.svg" alt="icon">
                            <h4 class="title-h4">Proactive Services<br>
                                by Metricly
                            </h4>
                            <p>Don’t rely on guesses and approximations to size your resources</p>
                            <a href="#" class="learn-more">
                                <span>
                                    <svg height="14" viewBox="0 0 18 14" width="18" xmlns="http://www.w3.org/2000/svg">
                                        <path d="m21.774214 14.1804715c-.2179739-.2406287-.5807558-.2406287-.8063512 0-.2179739.2324993-.2179739.6194562 0 .8514136l4.0886631 4.3611237h-13.4920292c-.3145126.0005419-.5644967.2671845-.5644967.6026555 0 .3354711.2499841.610785.5644967.610785h13.4920292l-4.0886631 4.3529943c-.2179739.2406287-.2179739.6281275 0 .8600849.2255954.2406287.5888854.2406287.8063512 0l5.0565894-5.3935507c.2255955-.2324993.2255955-.6194563 0-.8514136z"
                                            stroke-width=".5" transform="translate(-10 -13)" /></svg>
                                </span>
                                Learn more
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="item">
                            <img src="assets/icon-3.svg" alt="icon">
                            <h4 class="title-h4">Proactive Services<br>
                                by Metricly
                            </h4>
                            <p>Don’t rely on guesses and approximations to size your resources</p>
                            <a href="#" class="learn-more">
                                <span>
                                    <svg height="14" viewBox="0 0 18 14" width="18" xmlns="http://www.w3.org/2000/svg">
                                        <path d="m21.774214 14.1804715c-.2179739-.2406287-.5807558-.2406287-.8063512 0-.2179739.2324993-.2179739.6194562 0 .8514136l4.0886631 4.3611237h-13.4920292c-.3145126.0005419-.5644967.2671845-.5644967.6026555 0 .3354711.2499841.610785.5644967.610785h13.4920292l-4.0886631 4.3529943c-.2179739.2406287-.2179739.6281275 0 .8600849.2255954.2406287.5888854.2406287.8063512 0l5.0565894-5.3935507c.2255955-.2324993.2255955-.6194563 0-.8514136z"
                                            stroke-width=".5" transform="translate(-10 -13)" /></svg>
                                </span>
                                Learn more
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
</body>

</html>