<style>
  .devops-join {
    display: none;
  }
</style>
<section class="py-lg">
  <div class="container">
    <div class="row">
          <div class="col-12 d-flex flex-column text-center justify-content-center" style="
    ">
            <h1>Darn!</h1>
            <h3>That page doesn't exist 😬</h3>
            <div class="mb-5 mt-3"><a href="/" class="btn bg-green text-white">Go Home Instead</a></div>
            <img src="/img/graphics/404.svg" alt="" class="img-fluid">
          </div>
        </div>
  </div>
</section>
