<div>
  <span style="display: flex;align-items: center;">
    <img
      class=""
      src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAOEAAADhCAMAAAAJbSJIAAAAKlBMVEUAZpn////c5OwAWpIAYpdhj7Lj6vAAVZBUh61djLD4+vsATIsAXpSMqsS/kARfAAABNElEQVR4nO3PyVUCAADFQGTHpf92rcADB5/5OKkgc3h79Q5/PfDrEe5HuB/hfoT7Ee5HuB/hfoT7Ee5HuB/hfj8K349jXZ8VHj9OU93uTwtPh6nOF0LCeoSE/QgJ+xES9iMk7EdI2I+QsB8hYT9Cwn6EhP0ICfsREvYjJOxHSNiPkLAfIWE/QsJ+hIT9CAn7ERL2IyTsR0jYj5CwHyFhP0LCfoSE/QgJ+xES9iMk7EdI2I+QsB8hYT9Cwn6EhP0ICfsREvYjJOxHSNiPkLAfIWE/QsJ+hIT9CAn7ERL2IyTsR0jYj5CwHyFhP0LCfoSE/QgJ+xES9iMk7EdI2I+QsB8hYT9Cwn6E/1J4O0/1+XhWeL1fpnp8PSt8mQj3I9yPcD/C/Qj3I9yPcD/C/Qj3I9yPcL9vbkBdeA2eP5kAAAAASUVORK5CYII="
      alt=""
      width="150"
      height="150"
    />
    <em>AUTHOR-A Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo amet consequatur debitis iure assumenda, ut quasi incidunt dolorum laborum dolore eveniet laboriosam accusamus esse sapiente quam officia. Reiciendis, iusto voluptate!</em>
  </span>
</div>
