<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  {{ if .Params.nofollow }}
  <meta name="robots" content="noindex" />
  {{ end }}
  <title>{{ if not .IsHome }}{{ .Title }} - Metricly{{ end }}</title>
  {{ template "_internal/opengraph.html" . }}
  {{ partial "headers/scripts.html" . }}
  <link rel="stylesheet" id="theme" href="/css/mytheme.min.css" type="text/css" media="all">
  <link rel="stylesheet" id="styles" href="/css/styles.css" type="text/css" media="all">
</head>
