html {
  scroll-behavior: smooth !important;
}

section ul {
  list-style: disc;
  margin-left: 2em;
}

.bg-gradient-blue {
  background: rgb(0,168,225);
  background: linear-gradient(90deg, rgba(0,168,225,1) 0%, rgba(26,106,154,1) 100%);
}
.bg-gradient-green {
  background: rgb(116,202,200);
  background: linear-gradient(90deg, rgba(116,202,200,1) 0%, rgba(51,207,185,1) 100%);
}
.bg-gradient-lightblue {
  background: rgb(152,228,255);
  background: linear-gradient(90deg, rgba(152,228,255,0.5) 0%, rgba(152,228,255,1) 100%);
}
.bg-gradient-darkblue {
  background: rgb(39,90,125);
  background: linear-gradient(90deg, rgba(39,90,125,1) 0%, rgba(23,62,92,1) 100%);
}
.bg-pattern-darkblue {
    background: #173E5C;
    background-image: url(/img/backgrounds/bg-dark-blue-2.png);
    background-size: cover;
    background-position: bottom;
}
.bg-pattern-lightblue {
  background: #E2F1F9;
  background-image: url(/img/backgrounds/bg-light.png);
  background-size: cover;
  background-position: bottom;
}
.bg-pattern-darkerblue {
  background: #E2F1F9;
  background-image: url(/img/backgrounds/bg-dark-blue.png);
  background-size: cover;
  background-position: bottom;
}
.bg-top {
  background-position: top !important;
}
